{{#partial "content"}}

    <h2>TEAMS</h2>

    {{#if teams}}
        {{#each teams}}
            <div class="w3-card-4">

                <header class="w3-container w3-light-grey">
                    <h3>{{ teamName }} <a href="/teams/{{id}}/delete" class="nameEdit" >...delete team</a></h3>
                </header>

                <div class="w3-container">
                    <h5>TEAM DESCRIPTION:</h5>
                    <p>{{description}}</p>
                    <hr>
                </div>
                <a href="/teams/{{id}}" class="w3-button w3-block w3-dark-grey" >View Team Details</a>

            </div>
        {{/each}}
    {{else}}
        <p>No Teams!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}