{{#partial "content"}}

    <h2>TEAMS</h2>

    {{#if teams}}
        {{#each teams}}
            <div class="w3-card-4">

                <header class="w3-container w3-light-grey">
                    <h3>{{ teamName }} </h3>
                </header>

                <div class="w3-container">
                    <h5>TEAM DESCRIPTION:</h5>
                    <p>{{description}}</p>
                    <hr>

                    <p>{{members}} members in team</p>
                </div>
                <button class="w3-button w3-block w3-dark-grey"><a href="/teams/{{id}}" >View Team Details</a></button>

            </div>
        {{/each}}
    {{else}}
        <p>No Teams!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}